body {
    font: 24px Helvetica, sans-serif;
    background-color: wheat;
}

h1 {
    font-size: 54px;
}

p {
    font-size: 22px;
}

a {
    font-size: 22px;
    text-decoration: none;
}

.header-container {
    position: relative;
}

.main-caption {
    font-size: 68px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 24px;
    text-align: center;
    display: block;
}

.top-right {
    position: absolute;
    top: 12px;
    right: 30px;
}

.cart {
    margin-right: 30px;
    float: left;
}

.login-register {
    float: left;
}

.topnav {
    background-color: #ffc9b1;
    overflow: hidden;
    width: fit-content;
    margin: auto;
}

.topnav a {
    float: left;
    color: #363636;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ffbf95;
    color: #363636;
}

.topnav a.active {
    background-color: #ff9500;
    color: white;
}

.equipment-block {
    width: 75%;
    margin: auto;
}

.equipment-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 100px;
}

.equipment-element {
    background-color: #ffc9b1;
    border-style: solid;
    border-color: brown;
    border-width: 3px;
}

.equipment-element span {
    line-height: 2em;
    margin-left: 2em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

