body {
    font: 24px Helvetica, sans-serif;
    background-color: wheat;
}

h1 {
    font-size: 54px;
}

p {
    font-size: 18px;
}

a {
    font-size: 18px;
    text-decoration: none;
}

.header-container {
    position: relative;
}

.main-caption {
    font-size: 68px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 24px;
    text-align: center;
    display: block;
}

.top-right {
    position: absolute;
    top: 12px;
    right: 30px;
}

.cart {
    margin-right: 30px;
    float: left;
}

.login-register {
    float: left;
}

.topnav {
    background-color: #ffc9b1;
    overflow: hidden;
    width: fit-content;
    margin: auto;
}

.topnav a {
    float: left;
    color: #363636;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ffbf95;
    color: #363636;
}

.topnav a.active {
    background-color: #ff9500;
    color: white;
}

.equipment-block {
    margin-left: 15%;
    margin-right: 15%;
}

.login-area,
.register-area {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

