body {
    font: 24px Helvetica, sans-serif;
    background-color: wheat;
}

h1 {
    font-size: 68px;
}

p {
    font-size: 18px;
}

a {
    font-size: 18px;
    text-decoration: none;
}

.header-container {
    position: relative;
}

.caption {
    margin-bottom: 12px;
    margin-top: 24px;
    text-align: center;
}

.login-register {
    position: absolute;
    top: 12px;
    right: 40px;
}

.login-register a {
    float: left;
}

.login-register p {
    float: left;
}

.topnav {
    background-color: #ffc9b1;
    overflow: hidden;
    width: fit-content;
    margin: auto;
}

.topnav a {
    float: left;
    color: #363636;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ffac61;
    color: #363636;
}

.topnav a.active {
    background-color: #ff9500;
    color: white;
}

